@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.Calculator {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.Calculator {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.Display {
  text-align: right;
  height: 20%;
  font-size: 5rem;
  border: 1px solid;
}

button {
  width: 25%;
  height: 16%;
  border: 0.25px solid #4a9c54;
  padding: auto;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  background-color: #fff;
  transition: box-shadow 0.1s ease-in-out;
}

button:active {
  box-shadow: inset 0px 0px 50px 0px #4a95c4;
}
